<div class="min-h-full bg-section ">
  <div class="bg-background position-relative">
    <app-slide
      [items]="slides"
      [config]="{
          showPagination: false,
          showNavigation: false
        }">
    </app-slide>

    <div class="box-user">
      <ng-container *ngIf="userInfo; else notUser">
        <div class="card card-user">
          <div class="card-header">
            <div class="user-info">
              <img [src]="(userInfo && userInfo.avatar) ? userInfo.avatar : 'assets/img/avatar-placeholder.jpg'"
                   alt="{{ userInfo && userInfo.name ? userInfo.name : ''}}">
              <div>
                <p class="name mb-0">{{ userInfo && userInfo.name ? userInfo.name : 'TungLX' }}</p>
                <div class="role">
                  <i class="bi bi-star-fill text-warning me-1"></i>
                  Thành viên
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="points">
                0<span class="ms-1">điểm</span>
              </div>
              <i class="bi bi-chevron-right"></i>
            </div>
          </div>
          <div class="card-body">
            <div class="actions">
              <button class="action-btn" (click)="openChat()">
                <i class="fa-light fa-messages"></i>
                <span>Chat ngay</span>
              </button>
              <button class="action-btn">
                <i class="fa-light fa-ticket-perforated"></i>
                <span>Ưu đãi</span>
              </button>
              <button class="action-btn">
                <i class="fa-light fa-share-from-square"></i>
                <span>Chia sẻ</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #notUser>
        <div class="card card-user">
          <div class="card-body card-not-login">
            <p class="card-login__header">Kích hoạt thành viên</p>
            <p>Thực hiện đăng nhập để trở thành thành viên</p>
            <button type="button" class="btn btn-login py-2" (click)="grantPermission()">
              Đăng nhập
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="box-product">
    <div class="bg-background">
      <app-product-list></app-product-list>
    </div>
  </div>
</div>
