<!-- flash-sales.component.html -->
<div class="flex items-center justify-between px-2">
  <div class="text-sm font-medium p-2 truncate">Flash Sales</div>
  <a class="text-sm font-medium text-primary flex items-center space-x-1 p-2 cursor-pointer flex-none"
     [routerLink]="'/flash-sales'">
    <span>Xem thêm</span>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5.64642 2.64297C5.84168 2.44771 6.15826 2.44771 6.35352 2.64297L11.3535 7.64297C11.5488 7.83823 11.5488 8.15481 11.3535 8.35007L6.35352 13.3501C6.15826 13.5453 5.84168 13.5453 5.64642 13.3501C5.45115 13.1548 5.45115 12.8382 5.64642 12.643L10.2929 7.99652L5.64642 3.35007C5.45115 3.15481 5.45115 2.83823 5.64642 2.64297Z"
            fill="currentColor"></path>
    </svg>
  </a>
</div>

<div class="grid grid-cols-2 px-2 py-2 gap-4">
  <a *ngFor="let prd of products"
     class="flex flex-col cursor-pointer group"
     [routerLink]="'/product/detail'" [queryParams]="{ id: prd.id }">
    <img [src]="prd.images.avatar"
         class="w-full aspect-square object-cover rounded-t-lg"
         [alt]="prd.name">
    <div class="py-2">
      <div class="text-3xs text-subtitle truncate">{{ prd.category.name }}</div>
      <div class="text-xs mb-1 line-clamp-2">{{ prd.name }}</div>
      <div class="mt-0.5 text-sm font-medium">{{ prd.prices.retail }}</div>
      <div class="text-3xs text-subtitle line-through">{{ prd.prices.old }}</div>
    </div>
  </a>
</div>
