.rounded-lg {
  border-radius: 0.5rem;
}

.text-xl {
  font-size: 18px;
  line-height: 24px;
}

.bg-share {
  --tw-bg-opacity: 1;
  background-color: rgb(1 107 217 / 1);
  border: none;
}

.right-5 {
  right: 1.25rem;
}

.top-14 {
  top: 14px
}

.p-1_r {
  padding: 1rem;
}

.text-base {
  font-size: 15px;
  line-height: 20px;
}

.w-8 {
  width: 2rem;
}

.h-8 {
  height: 2rem;
}

.rounded-full {
  border-radius: 9999px;
}

.price {
  font-size: 19px;
}

.old-price {
  font-size: 16px;
  text-transform: uppercase;
  color: #696969;
}
