
.f-6 {
  font-size: 1.25rem;
}

.pb-0\.5 {
  padding-bottom: 0.125rem;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.footer-nav {
  grid-template-columns: repeat(4, 1fr);
}

.footer-nav a.active i {
  color: var(--primary) !important;
}

.add-to-cart {
  background-color: #e9ecef;
  color: #212529;
  border: none;
  border-radius: 0.75rem;
}

.buy-now {
  background-color: #0b2e69;
  color: #fff;
  border: none;
  border-radius: 0.75rem;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
}

.zalo-chat_text {
  font-size: 9px;
}

.logo-zalo-size {
  width: 26px;
}

.chat_zalo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item_nav {
  width: 100%;
  padding-left: 1rem;
}
